<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SapienceServerUrl" value="http://slemaindemo.sapience-cimetrix.com/" />
		<add key="KafkaServer" value="slemaindemo.sapience-cimetrix.com:30300" />
		<add key="EndpointURL" value="http://localhost:9098/send/callback/here/dcp/" />
		<add key="AppKey" value="7f78fe94-26a2-401d-a4d6-c06f6c160c65" />
		<add key="RecipeFolder" value="Recipes" />
		<add key="RecipeCallbackUrl" value="http://localhost:9098/send/callback/here/recipe/" />
	</appSettings>
</configuration>