<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SapienceServerUrl" value="http://44.239.166.15/" />
		<add key="KafkaServer" value="44.239.166.15:30300" />
		<add key="EndpointURL" value="http://172.31.49.3:9098/send/callback/here/dcp/" />
		<add key="AppKey" value="FFFC5DFC-5B73-415E-B35E-71790671E2A7" />
	</appSettings>
</configuration>